
Backup/LogParser 2.2.1.app
Backup/LogParser-v0.app/Contents/_CodeSignature/CodeResources
Backup/LogParser-v0.app/Contents/Info.plist
Backup/LogParser-v0.app/Contents/MacOS/LogParser
Backup/LogParser-v0.app/Contents/PkgInfo
Backup/LogParser-v0.app/Contents/Resources/Assets.car
Backup/LogParser-v0.app/Contents/Resources/Base.lproj/Main.storyboardc/Info.plist
Backup/LogParser-v0.app/Contents/Resources/Base.lproj/Main.storyboardc/MainMenu.nib
Backup/LogParser-v1.1.app/Contents/_CodeSignature/CodeResources
Backup/LogParser-v1.1.app/Contents/Info.plist
Backup/LogParser-v1.1.app/Contents/MacOS/LogParser
Backup/LogParser-v1.1.app/Contents/PkgInfo
Backup/LogParser-v1.1.app/Contents/Resources/Assets.car
Backup/LogParser-v1.1.app/Contents/Resources/Base.lproj/Main.storyboardc/Info.plist
Backup/LogParser-v1.1.app/Contents/Resources/Base.lproj/Main.storyboardc/MainMenu.nib
Backup/LogParser-v1.app/Contents/_CodeSignature/CodeResources
Backup/LogParser-v1.app/Contents/Info.plist
Backup/LogParser-v1.app/Contents/MacOS/LogParser
Backup/LogParser-v1.app/Contents/PkgInfo
Backup/LogParser-v1.app/Contents/Resources/Assets.car
Backup/LogParser-v1.app/Contents/Resources/Base.lproj/Main.storyboardc/Info.plist
Backup/LogParser-v1.app/Contents/Resources/Base.lproj/Main.storyboardc/MainMenu.nib
Backup/LogParser.backup.zip
